@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@200;300;700&display=swap");

body {
  font-family: Poppins, Helvetica, sans-serif;
  font-style: normal;
  width: 100vw;
  overflow-x: hidden;
}

.casestudy--content {
  padding: #{"min(84.0000vw,9.333vh)"} #{"min(10.7639vw,17.222vh)"} #{"min(9.6528vw,15.444vh)"}
    #{"min(10.7639vw,17.222vh)"};
  background-color: #000;
  color: #fff;
}
.casestudy--content h1,
.casestudy--content h2 {
  font-size: #{"min(2.9167vw,4.667vh)"};
  line-height: #{"min(4.3750vw,7.000vh)"};
  text-transform: uppercase;
  margin-bottom: #{"min(2.0139vw,3.222vh)"};
}
.casestudy--content p {
  font-size: #{"min(1.8750vw,3.000vh)"};
  line-height: #{"min(2.8125vw,4.500vh)"};
  margin-bottom: #{"min(5.1389vw,8.222vh)"};
}
.casestudy--full--width--photo {
  width: 100%;
  margin-bottom: #{"min(5.3472vw,8.556vh)"};
}
.casestudy--two--column {
  display: flex;
  margin-top: #{"min(4.3750vw,7.000vh)"};
}
.casestudy--two--column img {
  width: 50%;
}
.casestudy--text--1--2--column {
  width: 50%;
  padding: 0 #{"min(2.4653vw,3.944vh)"};
}
.casestudy--icon img {
  width: #{"min(2.6389vw,4.222vh)"};
}
.casestudy--icon p {
  font-size: #{"min(1.3889vw,2.222vh)"};
  line-height: #{"min(2.2222vw,3.556vh)"};
}
.casestudy--icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: #{"min(1.4583vw,2.333vh)"};
}
.casestudy--icons {
  display: flex;
  justify-content: center;
  gap: #{"min(4.6528vw,7.444vh)"};
}
.casestudy--others {
  width: 100%;
  display: flex;
  overflow: hidden;
  gap: #{"min(5.4167vw,8.667vh)"};
  justify-content: center;
  color: #000;
}
.casestudy--others--element {
  width: #{"min(22.7778vw,36.444vh)"};
  cursor: pointer;
}
.casestudy--others--element img {
  width: #{"min(22.7778vw,36.444vh)"};
}
.casestudy--others--element p {
  font-size: #{"min(1.7361vw,2.778vh)"};
  line-height: #{"min(1.8056vw,2.889vh)"};
  text-transform: uppercase;
  font-weight: bold;
  margin-top: #{"min(1.5278vw,2.444vh)"};
}
.casestudy--other--container {
  background-color: #fff;
  padding: #{"min(2.9167vw,4.667vh)"} 0;
  color: black;
}
.casestudy--other--container h2,
.casestudy--lowercase--h2 {
  font-size: #{"min(3.4722vw,5.556vh)"};
  line-height: #{"min(5.2083vw,8.333vh)"};
  margin-bottom: #{"min(3.1250vw,5.000vh)"};
  text-align: center;
  text-transform: unset !important;
}
.casestudy--contact {
  display: flex;
  gap: #{"min(7.2222vw,11.556vh)"};
  justify-content: center;
}
.casestudy--contact img {
  width: #{"min(32.7778vw,52.444vh)"};
  object-fit: scale-down;
}
.casestudy--icon p {
  margin-bottom: 0;
}
.welcoming--wc {
  background-image: url("content/casestudy/thumbnails/wc-bg.png");
  background-size: cover;
}
.casestudy--welcoming {
  width: 100%;
  height: 100vh;
  padding-top: #{"min(15.4861vw,24.778vh)"};
  padding-left: #{"min(5.8333vw,9.333vh)"};
  padding-right: #{"min(5.8333vw,9.333vh)"};
}
.casestudy--welcoming--number {
  font-size: #{"min(0.9722vw,1.556vh)"};
  line-height: #{"min(1.4583vw,2.333vh)"};
  font-weight: bold;
  margin-bottom: #{"min(2.5000vw,4.000vh)"};
}
.casestudy--welcoming h1 {
  margin-bottom: #{"min(0.9028vw,1.444vh)"};
}
.casestudy--welcoming--par {
  margin-bottom: #{"min(2.9861vw,4.778vh)"};
}
.casestudy--welcoming .casestudy--role {
  margin-top: 0;
}
.scroll--down--center {
  left: 50vw;
  transform: translateX(-50%);
}
.casestudy--welcoming {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (max-width: 600px) {
  html {
    font-size: #{"min(4.8000vw,2.217vh)"};
  }
  .casestudy--content h1,
  .casestudy--content h2,
  .casestudy--welcoming h1 {
    font-size: 1.77rem;
    line-height: 2.6667rem;
    margin-bottom: 1.11rem;
  }

  .casestudy--welcoming {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .casestudy--rectangle {
    display: none;
  }
  .welcoming--wc {
    background: none;
  }
  .casestudy--welcoming .scroll--down {
    display: flex;
  }
  .casestudy--content p,
  .casestudy--welcoming--number p {
    font-size: 0.8889rem;
    line-height: 1.3333rem;
    margin-bottom: 2rem;
    width: 100%;
  }
  .casestudy--welcoming--number p {
    margin-bottom: 1rem;
  }
  .casestudy--others--element p {
    font-size: 0.6rem;
    line-height: 0.9rem;
  }

  .casestudy--two--column {
    flex-direction: column;
    width: 100%;
  }
  .casestudy--two--column img {
    width: 100%;
  }
  .casestudy--text--1--2--column {
    width: 100%;
  }
  .mobile--reverse {
    flex-direction: column-reverse;
  }
  .mobile--no--display {
    display: none;
  }
  .casestudy--icon img {
    width: 2rem;
  }
  .casestudy--contact {
    flex-direction: column;
  }
  .casestudy--contact img {
    width: 100%;
  }
  .casestudy--icon p {
    text-align: center;
    margin-bottom: 0;
  }
}
