@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@200;300;700&display=swap");
* {
  font-family: Poppins, Helvetica, sans-serif;
}

.footer--main--container {
  background-color: #fff;
  width: 100vw;
  padding: min(5.06vw, 8.11vh) min(8.26vw, 13.22vh) min(6.25vw, 10vh);
  position: relative;
}

.footer--yellow--box {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100vw;
  background-color: #ffd726;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer--yellow--box p {
  font-size: min(0.97vw, 1.55vh);
  line-height: min(3.125vw, 5vh);
  color: #fff;
}

.footer--block--header {
  font-weight: 700;
  font-size: min(1.11vw, 1.77vh);
  color: #424242;
  text-transform: uppercase;
  margin-bottom: min(2.22vw,3.55vh);
}

.footer--block--content img {
  height: min(2.5vw, 4vh);
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.footer--block--content p {
  font-size: min(0.97vw, 1.55vh);
  line-height: min(1.66vw, 2.66vh);
  color: #000;
  opacity: 0.5;
  margin-bottom: min(0.35vw,0.55vh);
}

.footer--with--icon--content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.footer--row--part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer--with--links--content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer--with--links--content a {
  font-size: min(0.97vw, 1.55vh);
  line-height: min(1.66vw, 2.66vh);
  color: #000;
  opacity: 0.5;
  margin-bottom: min(0.35vw,0.55vh);
  text-decoration: none;
}

.footer--social--links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: min(2.15vw,3.44vh);
}

.footer--social--links img:first-of-type {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.footer--social--links img {
  height: min(1.94vw,3.22vh);
  width: auto;
}

.footer--social--link--behance {
  height: min(1.59vw,2.55vh) !important;
  width: auto;
}

.footer--inside--header {
  margin-top: min(1.45vw,2.33vh);
  margin-bottom: min(0.625vw, 1vh);
}

.footer--inside--header:first-of-type {
  margin-top: min(0.625vw, 1vh);
}

.footer--second--part--content {
  margin-top: min(0.625vw, 1vh);
}

.footer--with--icon--icon {
  width: min(2.5vw, 4vh);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer--with--icon--content--part {
  margin-left: min(0.83vw,1.33vh);
}

.footer--logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer--logo img {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: min(31.04vw, 49.66vh);
}
/*# sourceMappingURL=footer.css.map */