.modal--window--mobile {
  width: #{'min(min(49.03vh,87.20vw),327px)'};
  height: #{'min(min(69.42vh,123.47vw),463px)'};
  background: #ffd726;
  display: flex;
  flex-direction: column;
  border-radius: #{'min(min(1.50vh,2.67vw),10px)'};
  padding: #{'min(min(3.45vh,6.13vw),23px)'} #{'min(min(4.95vh,8.80vw),33px)'};
}
.modal--window--mobile--helper {
  position: fixed;
  top: 0;
  right: 0;
  backdrop-filter: blur(4px) grayscale(1);
  width: 100vw;
  height: 100vh;
  display: none;
  justify-content: center;
  align-items: center;
}
.modal--window--mobile h1 {
  font-size: #{'min(min(4.80vh,8.53vw),32px)'};
  line-height: #{'min(min(7.20vh,12.80vw),48px)'};
  font-weight: bold;
}
.modal--window--mobile p {
  margin-top: #{'min(min(3.00vh,5.33vw),20px)'};
  font-size: #{'min(min(2.70vh,4.80vw),18px)'};
  line-height: #{'min(min(4.05vh,7.20vw),27px)'};
}
.modal--window--mobile button {
  width: #{'min(min(31.33vh,55.73vw),209px)'};
  height: #{'min(min(7.20vh,12.80vw),48px)'};
  background: #311bbf;
  text-transform: uppercase;
  font-size: #{'min(min(2.40vh,4.27vw),16px)'};
  color: #fff;
  align-self: center;
  font-weight: bold;
  border: none;
  display: flex;
  margin-top: #{'min(min(7.05vh,12.53vw),47px)'};
  justify-content: center;
  align-items: center;
  border-radius: #{'min(min(1.50vh,2.67vw),10px)'};
}
.modal--window--mobile button::focus {
  outline: none;
}
.linkedin--mobile--modal {
  margin-top: #{'min(min(7.42vh,13.20vw),49.5px)'};
  display: flex;
  flex-direction: row;
  align-self: center;
}
.linkedin--mobile--modal img {
  width: #{'min(min(3.22vh,5.73vw),21.5px)'};
  height: #{'min(min(3.22vh,5.73vw),21.5px)'};
  margin-left: #{'min(min(1.29vh,2.29vw),8.6px)'};
}
.linkedin--mobile--modal p {
  margin-top: 0;
}

.active-modal {
  display: flex;
}
